@import "core/reset";
@import "core/variables";
@import "core/mediaqueries";
@import "core/links";
@import "core/iconos";
@import "core/fonts";

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  @include desktop {
    padding: 6em;
  }
  &__txt {
    text-align: center;
    margin-bottom: 3.5rem;
    max-width: 70vw;
    &__parg {
      margin-top: 2rem;
    }
  }
}
