@import "core/variables";
body {
  background-color: rgb(41, 41, 41);
  color: rgb(140, 140, 140);
}

.wrapper {
  padding: 5vh 7vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  &__structure {
    height: 100vh;
    overflow: hidden;
  }
}
