.contact {
  &__txt {
    /* min-width: 15.3em; */
    text-align: center;
    font-weight: lighter;
    height: 100%;
    flex-shrink: 1;
    flex-grow: 1;
    &__parg {
      margin-top: 2em;
    }
  }
}
