@import "core/reset";
@import "core/variables";
@import "core/mediaqueries";
@import "core/links";
@import "core/iconos";
@import "core/fonts";
.footer {
  display: flex;
  flex-direction: column;
  @include tablet {
    padding-top: 1.5rem;
  }
  &__items {
    width: 100%;
  }
  &__title {
    display: flex;
    justify-content: center;
    text-align: center;
  }
  @include desktop {
    flex-direction: row;
  }
}
