@import "core/mediaqueries";

.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 1.5rem;
  @include desktop {
    flex-direction: row;
  }
  &__logo {
    width: 75vw;
    min-width: 15.3rem;
    max-width: 33rem;
    @include desktop {
      max-width: 15em;
    }
  }
  &__nav {
    display: flex;
    justify-content: space-between;
    min-width: 15rem;
    gap: 1rem;
    @include desktop {
      text-transform: uppercase;
      gap: 6rem;
    }
  }
}
